@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/palette.scss";

.FeaturedProductsListSec {
	@include siteSection;
}

.FeaturedProductsList {
	@include displayFlex(unset, center);
	flex-direction: column;

	&_BottomWrapper {
		@include displayFlex(space-between, unset);
		width: 350px;
		margin: 60px 0;
	}
}
