body {
	position: relative;
	font-family: "Delius", cursive;
	font-size: 16px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body.isMobileActive {
	overflow-y: hidden;
}
body.isMobileActive:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

/* For the slider - Boostrap Carousel */
.featured .carousel-indicators {
	bottom: -60px !important;
}

.featured .carousel-indicators > button {
	background-color: #323232 !important;
	width: 6px !important;
	height: 6px !important;
	border-radius: 100% !important;
}
