@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/palette.scss";

.Nav {
	@include displayFlex(unset, center);

	&_Link {
		@include transitionEffect(0.3s);
		@include displayFlex(center, center);
		font-size: 18px;
		text-decoration: none;
		color: $textBlack;
		margin: 0 10px;

		&_Active {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				right: -3px;
				top: 3px;
				border-radius: 100%;
				background-color: $purple;
				width: 10px;
				height: 10px;
			}
		}

		&_Icon {
			font-size: 24px;
		}

		@include onHoverFocus {
			color: $purple;
		}
	}

	@include mediaQuery("max", 580px) {
		flex-wrap: wrap;
		justify-content: flex-end;

		&_Link {
			@include flex(0 0 70px);
			margin-bottom: 10px;
		}

		&_Link_Active:after {
			right: 20px;
			top: 3px;
		}
	}
	@include mediaQuery("max", 420px) {
		&_Link {
			@include flex(0 0 60px);
			margin-bottom: 10px;
		}

		&_Link_Active:after {
			right: 15px;
		}
	}
}
