@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/palette.scss";

.SubpageBanner {
	@include siteSection;

	> div {
		padding-bottom: 0;
	}

	&_Title {
		position: relative;
		text-transform: capitalize;
		padding-bottom: 30px;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $styleGray;
			height: 1px;
			// margin: 30px 0;
		}
	}

	&_Para {
		margin: 20px 0;
	}
}
